@font-face {
    font-family: 'JosefinSans';
    src: url('/fonts/JosefinSans-VariableFont_wght.ttf');
}

:root {
    --main-bg-color: #4DBD8F;
    --main-text-color: #1C1C1C;
    --slider-text-color: lightgray;
    --link-color: #3E5C50;
    --page-bg-color: #DDE7ED  ;
    --data-bg :white;
    --h-hight: 15vh;
    --f-hight: 12vh;
}

* {
    margin: 0;
    padding: 0;

}
header {
    position: sticky;
    top: 0px;
    z-index: 4;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: var(--h-hight);

    background-color: var(--main-bg-color);
    font-family: 'JosefinSans', serif;
    font-weight: 700;
    font-style: italic;
}

nav img {
    height: 14vh;
    position: absolute;
    left: 20px;
}

nav ul {
    display: flex;
    height: 50px;
    justify-content: flex-end;
    align-items: center;
}

nav ul li {
    font-size: 25px;
    list-style: none;
    padding-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: var(--link-color);
}

nav ul li a:hover {
    font-weight: bold;
    color:var(--slider-text-color);
    font-size: 30px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--page-bg-color);
}

/* Slideshow container */
.slideshow-container {
    width: 90vw;
    height: 60vh;
    margin: 20px;
}

/* Hide the images by default */
.Slides {

    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.Slides img{
    min-width: 90vh;
    height: 100%;
}

/* Next & previous buttons */
.prev,
.next {
    position: absolute;
    cursor: pointer;
    top: 45%;
    width: auto;
    color: white;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    left: 92vw;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    color: var(--slider-text-color);
}

/* Number text (1/5 etc) */
.numbertext {
    position: absolute;
    color: var(--slider-text-color);
    font-weight: bold;
    font-size: 20px;
    padding: 8px 12px;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    position: relative;
    bottom: 30px;
    height: 20px;
    width: 20px;
    margin: 0 2px;
    background-color: var(--slider-text-color);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: lightgray;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.data {
    width: 92vw;
    display: flex;
    flex-direction: row;
}
.detail{
    background-color: var(--data-bg);
    color: var(--main-text-color);
    width: 65vw;
    margin: 20px;
    padding: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: 10;
    text-align: justify;
    border-radius: 5px;
    letter-spacing: 0.032rem;
}
.detail h1{
    text-align: center;
}
.list{
    background-color: var(--data-bg);
    color: var(--main-text-color);
    position: sticky;
    top: calc(var(--h-hight) + 1vh);
    width: 25vw;
    height: 75vh;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    
}
.list img{
    width: 15vw;
    height: 15vw;
}
.list ul li{
    list-style : none;
    padding: 5px;
}
.topic{
    font-weight:bold;

}
footer {
    flex-direction: column;
    padding: 20px;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: 'Playfair Display', serif;
}
.hl{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50vw;
}
.links p{
    font-size: 18px;
    margin: 15px;
}
.links ul li{
    list-style: none;
    padding: 5px;
    text-align: center;
}
.links ul li a{
    text-decoration: none;
    color: var(--link-color);
}
.links ul li a:hover{
    color: var(--slider-text-color);
    font-size: 1.2rem;
}
/*About page*/
.data-3{
    width: 90vw;
    background-color: var(--data-bg);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}
.content{
    padding: 20px;
    color: var(--main-text-color);
    font-size: 18px;
}
.heading{
    padding: 20px;
    color: var(--main-text-color);
    font-size: 30px;
    font-weight: bold;
    color: var(--link-color);
}
/*page tributes*/

.tuple{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: var(--data-bg);

    width: 80vw;
    height: 40vh;
    border-radius: 10px;
    margin: 20px;
    overflow: hidden;
}
.tuple img{
    height: 30vh;
    min-width: 40vh;
    margin: 20px;
}
.data-2{
    display: flex;
    flex-direction: column;
    color: var(--main-text-color);
    margin: 20px;
    text-align: justify;
    font-size: 18px;
}
.data-2 p{
    text-align: left;
    font-weight:bolder;
    margin: 10px;
    font-size: 25px;
}
/*product page*/
.product{
    margin: 20px;
    width: 90vw;
    background-color: var(--data-bg);
    border-radius: 10px;
}
.title{
    color: var(--main-text-color);
    font-size: 30px;
    margin: 50px;
}
.product ul li{
    list-style: none;
    text-align: center;
    margin: 20px;
    font-size: 20px;
}
.product ul li a{
    color: var(--link-color);
    text-decoration: none;
}
.product ul li a:hover{
    color: var(--slider-text-color);
    font-size: 25px;
}